html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#titleBar {
    height: 40px;
    background-color: #0288D1;
}

#sideNav {
    height: 100%; /* height is 100% */
    width: 0; /* with is 0 as default. It later gets changed in javaScript*/
    position: fixed; /*Position is fixed. It stays in the same place */
    z-index: 1; /* Sets the z-index to one, which makes it sit on top */
    top: 0; /*the distance from the top is 0*/
    left: 0; /*the distance from the left is 0*/
    background-color: #2196F3; /*Background color is grey with an opacity of 0.5*/
    overflow-x: hidden; /* This disables the horizontal scroll */
    transition: 0.5s;  /*0.5 second transition effect to slide in the sidenav */
}

#dropdownMenu{
    visibility: hidden;
    background-color: #ffffff;
    position: fixed; /*Position is fixed. It stays in the same place */
    z-index: 1; /* Sets the z-index to one, which makes it sit on top */
    width: 100px;
    height: 0px;
    right: 0;
}



#menuButton {
    width:36px;
    height: 36px;
}

#moreOptions {
    width:36px;
    height: 36px;
    top: 0;
    right:0;
    position: fixed;
}

.button{
    color: white;
    border:none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 14sp;
    margin: 3px 5px 3px 5px;
    width: 90%;
    font-family: roboto; 
    text-transform: uppercase;
    border-radius: 10px;
}

.dropdown-button {
    border-radius:0;
    background-color: #607D8B;
    
}

.button-pencil-size{
    color:#FFFFFF;
    border:none;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: block;
    background-color: #607D8B; 
    border-radius:30px;
}

#penSizeList{
    margin: 2px 2px 2px 8px;
    padding: 0;
    width:100%;
    
}

#penSizeList li{
    list-style-type: none;
    float: left;
    display: block;
    width: 32%;
}

.pen-size-div{ 
    text-align: center;
    color: white;
    font-family: roboto;
    font-size: 14sp;
}

#button-black {
    background-color: #212121; 
}

#button-grey {
    background-color: #9e9e9e; 
}

#button-red {
    background-color: #f44336; 
}

#button-blue {
    background-color: #2196f3; 
}
#button-yellow {
    background-color: #ffeb3b; 
}
#button-green {
    background-color: #4caf50; 
}

#button-clear {
    background-color: white;
    color: black;
    border: 2px solid #e0e0e0;
}